{% extends "base.html" %} {% block title %}Add Expense{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<form novalidate action = "/expense_entry" name ="expense-form" method="POST">
    <br/>
    <div>
      <h1 align="center">Add an expense</h1>
    </div>
    <br/>
    {{ form.csrf_token }}
    <div class ="all">
      <div class="form-row">
        {{ form.date.label(class="form-control-lg") }}
        <div class="form-group">
          {{ form.date(class = "form-control-lg DateTimeField", value= todayDate) }}
        </div>
      </div>

      <div class="form-row">
        {{ form.description.label(class="form-control-lg") }}
        <div class="form-group">
          {% if form.description.errors %}
              {{ form.description(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.description.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.description(class="form-control form-control-lg",placeholder="Enter description") }}
          {% endif %}
        </div>
      </div>

      <div class="form-row">
        {{ form.category.label(class="form-control-lg") }}
        <div class="form-group">
          <div class="form-inline">
            {{ form.category(class="form-control-lg") }}
            <button type="button" class="btn-lg btn btn-info disabled" data-toggle="modal" data-target="#addCategory">?</button>
          </div>
        </div>
      </div>

      <div class="form-row">
        {{ form.amount.label(class="form-control-lg")  }}
        <div class="form-group">
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">$</span>
            </div>
            {% if form.amount.errors %}
              {{ form.amount(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                {% for error in form.amount.errors %}
                  <span>{{ error }}</span>
                {% endfor %}
              </div>
            {% else %}
              {{ form.amount(class="form-control form-control-lg",placeholder="0.00") }}
            {% endif %}
          </div>  
        </div>
      </div>
    </div>

    <br/>
    
    <div class="form-group" align="center">
      <input type = "submit" class="form-control-lg btn btn-info" name="btn" value="Add Expense"/>
      <!-- <button type="submit" class="form-control-lg btn btn-info" style="width: 500px !important; min-width: 500px; max-width: 500px;">Add Expense</button> -->
    </div> 

</form>


<!-- Modal -->
<div novalidate class="modal fade" id="addCategory" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        
        <h4 class="modal-title">Edit Category</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        
        <label for="category">Enter Category to add:</label>
        <form action = "/add-category" method = "POST">

          <div class="input-group mb-3">
            <input type = "text" class="form-control" name = "newcategory" required/>
            <input type = "submit" class="btn btn-info" value="Add"/>
          </div>
          
        </form> 
        <br/>
        <div class="list-group overflow-auto shadow" style="max-height: 170px;">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody>
              {% for list in categorylist %}
              <tr class="table-primary">
                <td>{{ list.categoryType }}
                      <button type="button" class="close" data-toggle="modal" data-target="#myCategoryDelete{{list.id}}">
                          <span aria-hidden="true">&times;</span>
                      </button> <!-- x button -->
                  </td>
                
              </tr>
              <!-- Modal -->
              <div class="modal fade" id="myCategoryDelete{{list.id}}" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      
                      <h4 class="modal-title">Delete Category</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>{{list.id}}?? </p>
                      <p>you sure you want to delete this Category?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" onclick="deleteCategory({{ list.id }})">Yes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <br/>  
      </div>
    </div>
    
  </div>
</div>

<br/>

<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
        {% for entry in user.entry %}
        <tr class="table-primary">
            <td>{{ entry.date }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.category.categoryType }}</td>
            <td>${{ '%0.2f' % ( entry.amount / 100 )}}
                <button type="button" class="close" data-toggle="modal" data-target="#myModal{{entry.id}}">
                    <span aria-hidden="true">&times;</span>
                </button> <!-- x button -->
            </td>
        </tr>
        <!-- Entry delete Modal -->
        <div class="modal fade" id="myModal{{entry.id}}" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">
                
                <h4 class="modal-title">Delete Entry</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this entry?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="deleteEntry({{ entry.id }})">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>

        
        {% endfor %}

        
    </tbody>
  </table>  


{% endblock %}