{% extends "base.html" %} {% block title %}Add Expense{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<form novalidate action = "/expense_entry/{{person.firstname}}" name ="expense-form" method="POST">
    <br/>
    <div>
      <h1 align="center">Add an expense</h1>
    </div>
    <br/>
    {{ form.csrf_token }}
    <div class ="all">
      <div class="form-row">
        {{ form.date.label(class="form-control-lg") }}
        <div class="form-group">
          {{ form.date(class = "form-control-lg DateTimeField", value= todayDate) }}
        </div>
      </div>

      <div class="form-row">
        {{ form.description.label(class="form-control-lg") }}
        <div class="form-group">
          {% if form.description.errors %}
              {{ form.description(class="form-control form-control-lg is-invalid") }}
              <div class="invalid-feedback">
                  {% for error in form.description.errors %}
                      <span>{{ error }}</span>
                  {% endfor %}
              </div>
          {% else %}
              {{ form.description(class="form-control form-control-lg",placeholder="Enter description") }}
          {% endif %}
        </div>
      </div>

      <div class="form-row">
        {{ form.category.label(class="form-control-lg") }}
        <div class="form-group">
          <div class="form-inline">
            {{ form.category(class="form-control-lg") }}
            <button type="button" class="btn-lg btn btn-info disabled" data-toggle="modal" data-target="#addCategory">?</button>
          </div>
        </div>
      </div>

      <div class="form-row">
        {{ form.amount.label(class="form-control-lg")  }}
        <div class="form-group">
          <div class="form-inline">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text">$</span>
              </div>
              {% if form.amount.errors %}
                {{ form.amount(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                  {% for error in form.amount.errors %}
                    <span>{{ error }}</span>
                  {% endfor %}
                </div>
              {% else %}
                {{ form.amount(class="form-control form-control-lg",placeholder="0.00") }}
              {% endif %}
            </div>
            
          </div>  
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" name ="split-checkbox" id="split-checkbox" >
            <label class="form-check-label" >Split</label>
          </div>
        </div>
        <div class="form-group" id="split-notes" style = 'display: none'>
          <div class="form-inline">
            <textarea class="alert alert-dismissible alert-primary" style="margin-top: 0px;margin-bottom: 0px;margin-left: 5px;margin-right: 0px;font-size: 15px; width: 350px;" name="notes" id="notes"></textarea>
           
          </div>
        </div>
      </div>
    </div>

    <div id= "split-options" style = 'display: none'>
      <div class="btn-group btn-group-toggle" data-toggle="buttons">
        <label class="btn btn-outline-primary" id="equal">
          <input type="radio" name="split" id="equally" autocomplete="off"> =
        </label>
        <label class="btn btn-outline-primary" id="percent">
          <input type="radio" name="split" id="percentage" autocomplete="off"> %
        </label>
      </div>
      <br/>
      <div id="split-form" style = 'display: none'>
        <div class="parent form-row split-row">
          <div class ="equal percent bg-info" style="background-image: url('/static/Images/{{ personuser.image_file }}'); width:100px; height:200px; background-position:center; max-width: 100px;max-height: 100px; border-radius: 50%; overflow: hidden; margin-left: 10px;">&nbsp;</div>     
          <label class="equal percent split-names"><strong id="selffirstname">{{personuser.firstname}}</strong> <br> <strong id="selflastname">{{personuser.lastname}}</strong> </label> 
          <div class="percent split-percent">
            <div class="input-group">
              <input type="text" class="form-control split-font" id="selfpercent" placeholder="0">
              <div class="input-group-append">
                <span class="input-group-text split-font">%</span>
              </div>
            </div>
          </div>
          <label class="equal percent split-operation" id="selfoperation">test</label>
          <div class="equal percent split-amount">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text split-font">$</span>
              </div>
              {{ form.selfsplit(class="form-control split-font",placeholder="0.00", readonly=true) }}
            </div>
          </div>
        </div>
        <div class="parent form-row split-row">
          <div class ="equal percent bg-info" style="background-image: url('/static/Images/{{ person.image_file }}'); width:100px; height:200px; background-position:center; max-width: 100px;max-height: 100px; border-radius: 50%; overflow: hidden; margin-left: 10px; padding: 0px;">&nbsp;</div>
          <label class="equal percent split-names" id="personlabel"><strong id="personfirstname">{{person.firstname}}</strong> <br> <strong id="personlastname">{{person.lastname}}</strong> </label> 
          <div class="percent split-percent">
            <div class="input-group">
              <input type="text" class="form-control split-font" id="personpercent" placeholder="0">
              <div class="input-group-append">
                <span class="input-group-text split-font">%</span>
              </div>
            </div>
          </div>
          <label class="equal percent split-operation" id="personoperation">test</label>
          <div class="equal percent split-amount">
            <div class="input-group">
              <div class="input-group-prepend">
                <span class="input-group-text split-font">$</span>
              </div>
              {{ form.personsplit(class="form-control split-font",placeholder="0.00", readonly=true) }}
            </div>
          </div>     
        </div>
      </div> 
    </div>
    
    <br/>
    
    <div class="form-group" align="center">
      <input type = "submit" class="btn-lg btn btn btn-info" name="btn" value="Add Expense"/>
    </div> 
</form>

<script>
  $(function() {
    $("#description").autocomplete({
      source:function(request, response) {
        $.getJSON("{{url_for('views.autocomplete')}}",{
            q: request.term, // in flask, "q" will be the argument to look for using request.args
        }, function(data) {
            response(data.matching_results); // matching_results from jsonify
        });
      }
    });
  });
  
  let desc = document.getElementById('description');
  let cate = document.getElementById('category');
  
  desc.onchange = function(){
    value = desc.value;
    fetch('/autocompletecat/' + value).then(function(response){
      response.json().then(function(data){
        $("#category").val(data);
      });
    });
  };

  let split_option_btn = document.getElementById('split-options');
  let split_checkbox = document.getElementById('split-checkbox');

  split_checkbox.onchange = function(){
    if(this.checked){
      split_option_btn.style.display = 'block';
    }
    else{
      split_option_btn.style.display = 'none';
      split_notes.style.display = 'none';
    }
  };

  $('#amount').blur(function(){
    if(this.value == "")
    {
      $("#split-checkbox").prop("checked", false);
      split_checkbox.onchange();
    }
  });

  let split_form = document.getElementById('split-form');
  let split_notes = document.getElementById('split-notes');
  $(".btn").click(function () {
    split_form.style.display = 'block';
    split_notes.style.display = 'block';
    $(".parent").children().each(function () {
      $(this).hide();
    });
    $(`.${$(this).attr("id")}`).show();
  });

  let amt = document.getElementById('amount');
  let labelElement1 = document.getElementById("selfoperation");
  let labelElement2 = document.getElementById("personoperation");
  let personfirstname = document.getElementById("personfirstname");
  let selffirstname = document.getElementById("selffirstname");
  
  function myfunc() {
    var getSelectedValue = document.querySelector('input[name="split"]:checked');
    if(getSelectedValue.id=="equally"){
      $('#selfsplit').val((amt.value/2).toFixed(2));
      $('#personsplit').val((amt.value/2).toFixed(2));
      labelElement1.innerHTML = "$"+ parseFloat(amt.value).toFixed(2) + " / 2 =";
      labelElement2.innerHTML = "$"+ parseFloat(amt.value).toFixed(2) + " / 2 =";
      $('#notes').val(selffirstname.innerHTML+" : "+labelElement1.innerHTML+ " $"+ $('#selfsplit').val()+ ", \r" + personfirstname.innerHTML+" : "+labelElement1.innerHTML+ " $"+ $('#personsplit').val())
    }
    else if(getSelectedValue.id=="percentage"){
      labelElement1.innerHTML = " x $"+ parseFloat(amt.value).toFixed(2) + " =";
      labelElement2.innerHTML = " x $"+ parseFloat(amt.value).toFixed(2) + " ="; 
      if ($('#selfpercent').val()==""){
        $('#selfpercent').val(100);
        $('#personpercent').val(0);
      }
      else{
        $('#personpercent').val(100-$('#selfpercent').val());
      }
      $('#selfsplit').val((amt.value*($('#selfpercent').val()/100)).toFixed(2));
      $('#personsplit').val((amt.value*($('#personpercent').val()/100)).toFixed(2));
      $('#notes').val(selffirstname.innerHTML+" : "+ $('#selfpercent').val()+ "% "+labelElement1.innerHTML+" $"+ $('#selfsplit').val()+ ", \r" + personfirstname.innerHTML+" : "+ $('#personpercent').val()+ "% "+labelElement1.innerHTML+" $"+  $('#personsplit').val())
    }
  };
  
  $('[name="split"]').on('change', function() {
    myfunc();
  });
  
  $('#amount').on('keyup',function(){
    var getSelectedValue = document.querySelector('input[name="split"]:checked');
    if (getSelectedValue != null)
    {
      myfunc();
    }
  });

  $('#selfpercent').on('keyup',function(){
    
    $('#personpercent').val(100-this.value);
    myfunc();
  });

  $('#personpercent').on('keyup',function(){
    
    $('#selfpercent').val(100-this.value);
    myfunc();
  });
</script>



<!-- Modal -->
<div novalidate class="modal fade" id="addCategory" role="dialog">
  <div class="modal-dialog">
    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">     
        <h4 class="modal-title">Edit Category</h4>
        <button type="button" class="close" data-dismiss="modal">&times;</button>
      </div>
      <div class="modal-body">
        <label for="category">Enter Category to add:</label>
        <form action = "/expense_entry/{{person.firstname}}/add-category" method = "POST">
          <div class="input-group mb-3">
            <input type = "text" class="form-control" name = "newcategory" required/>
            <input type = "submit" class="btn btn-info" value="Add"/>
          </div>
        </form> 
        <br/>
        <div class="list-group overflow-auto shadow" style="max-height: 170px;">
          <table class="table table-hover">
            <thead>
              <tr>
                <th scope="col">Category</th>
              </tr>
            </thead>
            <tbody>
              {% for list in categorylist %}
              <tr class="table-primary">
                <td>{{ list.categoryType }}
                      <button type="button" class="close" data-toggle="modal" data-target="#myCategoryDelete{{list.id}}">
                          <span aria-hidden="true">&times;</span>
                      </button> <!-- x button -->
                  </td>
              </tr>
              <!-- Modal -->
              <div class="modal fade" id="myCategoryDelete{{list.id}}" role="dialog">
                <div class="modal-dialog">
                
                  <!-- Modal content-->
                  <div class="modal-content">
                    <div class="modal-header">
                      <h4 class="modal-title">Delete Category</h4>
                      <button type="button" class="close" data-dismiss="modal">&times;</button>
                    </div>
                    <div class="modal-body">
                      <p>{{list.id}}?? </p>
                      <p>you sure you want to delete this Category?</p>
                    </div>
                    <div class="modal-footer">
                      <button type="button" class="btn btn-danger" onclick="deleteCategory({{ list.id }},'{{ person.firstname }}')">Yes</button>
                      <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
                    </div>
                  </div>
                </div>
              </div>
              {% endfor %}
            </tbody>
          </table>
        </div>
        <br/>  
      </div>
    </div>
  </div>
</div>

<br/>
<br/>
    <div>
      <h1 align="center">{{person.firstname}}'s Expense Log</h1>
    </div>
    <br/>
<table class="table table-hover">
    <thead>
      <tr>
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Category</th>
        <th scope="col">Amount</th>
        <th scope="col">Notes</th>
        <th scope="col"></th>
      </tr>
    </thead>
    <tbody>
        {% for entry in person.entry %}
        <tr class="table-primary">
            <td>{{ entry.date }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.category.categoryType }}</td>
            <td>${{ '%0.2f' % ( entry.amount / 100 )}}</td>
            <td style="width: 500px;">{{ entry.notes }}</td>
            <td>
              <button type="button" class="close" data-toggle="modal" data-target="#myModal{{entry.id}}" >
                <span aria-hidden="true">&times;</span>
              </button> <!-- x button -->
            </td>
        </tr>
        <!-- Entry delete Modal -->
        <div class="modal fade" id="myModal{{entry.id}}" role="dialog">
          <div class="modal-dialog">
          
            <!-- Modal content-->
            <div class="modal-content">
              <div class="modal-header">               
                <h4 class="modal-title">Delete Entry</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
              </div>
              <div class="modal-body">
                <p>Are you sure you want to delete this entry?</p>
              </div>
              <div class="modal-footer">
                <button type="button" class="btn btn-default" onclick="deleteEntry({{ entry.id }}, '{{ person.firstname }}' )">Yes</button>
                <button type="button" class="btn btn-default" data-dismiss="modal">No</button>
              </div>
            </div>
          </div>
        </div>
        {% endfor %} 
    </tbody>
  </table>  
{% endblock %}