{% extends "base.html" %} {% block title %}Home{% endblock %}

{% block content %}
<br/>
<h1 align="center">Expense Log</h1>
<br/>
<table class="table table-hover">
    <thead>
      <tr>
        <!-- <th scope="col">Id</th> -->
        <th scope="col">Date</th>
        <th scope="col">Description</th>
        <th scope="col">Amount</th>
      </tr>
    </thead>
    <tbody>
        {% for entry in user.entry %}
        <tr class="table-primary">
            <td>{{ entry.date }}</td>
            <td>{{ entry.description }}</td>
            <td>{{ entry.amount }}
<!--                 <button type="button" class="close" onclick="deleteEntry({{ entry.id }})">
                    <span aria-hidden="true">&times;</span>
                </button>  --> <!-- x button -->
            </td>
        </tr>
        {% endfor %}
    </tbody>
  </table>

<!-- <form method="POST">
    <textarea name="entry" id="entry" class="form-control"></textarea>
    <br />
    <div align="center">
        <button type="submit" class="btn btn-info">Add Entry</button>
    </div>
</form> -->

{% endblock %}
