{% extends "base.html" %} {% block title %}Sign Up{% endblock %}
{% import "bootstrap/wtf.html" as wtf %}
{% block content %}
<form novalidate method="POST">
    <div>
        <h1 align="center">Sign Up</h1>
    </div>
    
    {{ form.csrf_token }}
     <div class ="all">
        <div class="form-group">
            {{ form.firstname.label }}
            {% if form.firstname.errors %}
                {{ form.firstname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.firstname.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.firstname(class="form-control form-control-lg",placeholder="Enter first name") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.lastname.label }}
            {% if form.lastname.errors %}
                {{ form.lastname(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.lastname.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.lastname(class="form-control form-control-lg",placeholder="Enter last name") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.username.label }}
            {% if form.username.errors %}
                {{ form.username(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.username.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.username(class="form-control form-control-lg",placeholder="Enter Username") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password1.label }}
            {% if form.password1.errors %}
                {{ form.password1(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password1.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password1(class="form-control form-control-lg",placeholder="Enter Password") }}
            {% endif %}
        </div>

        <div class="form-group">
            {{ form.password2.label }}
            {% if form.password2.errors %}
                {{ form.password2(class="form-control form-control-lg is-invalid") }}
                <div class="invalid-feedback">
                    {% for error in form.password2.errors %}
                        <span>{{ error }}</span>
                    {% endfor %}
                </div>
            {% else %}
                {{ form.password2(class="form-control form-control-lg",placeholder="Reenter Password") }}
            {% endif %}
        </div>
    </div>

    <br />
    <button type="submit" class="btn btn-primary">Submit</button>
</form>
{% endblock %}